.tab_switch  {
  width: 100%;
  display: flex;

  padding: 1rem 0;
  border-bottom: 1px solid var(--border-line-color);
}

.tab_switch button {
  flex: 1;
  text-align: center;

  border: none;
  background: transparent;

  cursor: pointer;
  font-size: .8rem;
  padding: .6rem;
  font-size: medium;

  color: var(--inactive-color);
}

.tab_switch .active {
  color: var(--primary-color) !important;
  border-bottom: 1px solid var(--primary-color) !important;
}

.tab_switch__container {
  margin: 0 10px;
}