.tabSwitch {
  width: 100%;
  display: flex;

  padding: 1rem 0;
  border-bottom: 2px solid var(--border-line-color);
}

.tabSwitch button {
  flex: 1;
  text-align: center;

  border: none;
  background: transparent;

  cursor: pointer;
  font-size: .8rem;
  padding: .6rem;
  font-size: medium;

  color: var(--inactive-color)
}

.active {
  font-weight: bold;
  color: var(--primary-color) !important;
  border-bottom: 2px solid var(--primary-color) !important;
}