.category {
  padding-top: 1rem;
}

.category__buttons {
  overflow-x: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
  padding-left: 10px;

  display: flex;
  gap: .5rem;
  width: 100%;
}